.header {
  display: flex;
  justify-content: space-between;
}

.header .header__right {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.container__left {
  width: 30%;
}

.header .header__right ul {
  display: flex;
  justify-items: center;
}

li {
  list-style-type: none;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 20px;
  left: 990px;
}

.header__right-button {
  height: 38px;
  width: 150px;
  top: 26px;
  left: 1090px;
  border-radius: 19px;
  border: 2px #4c7df0 solid;
  background-color: #ffffff;
  margin-left: 50px;
  color: #4c7df0;
}

.header__right__using {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__right__using img {
  height: 24px;
  width: 24px;
  top: 24px;
  left: 802px;
}

.header__right__using span {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 5%;

  color: #4c7df0;
}

.container {
  display: flex;
}
.container__right-profile {
  display: flex;
  justify-content: center;
}
.container__right {
  width: 100%;
}

.container__right__info__block-bottom {
  display: flex;
}
.container__right__info__block-bottom-filed {
  width: 50%;
}

.container__right__info__block-bottom-filed {
  border-bottom: 0.5px rgb(8, 175, 226) solid;

  margin-top: 20px;
}

.container__right__info-name-filed {
  border-bottom: 0.5px rgb(8, 175, 226) solid;

  margin-top: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__right__info-name-filed label {
  flex: 1;
}

.container__right__info-name-filed label:not(:first-child) {
  margin-left: 10%;
}

.container__right__info__block-bottom-padding {
  height: 30px;
  width: 8px;
  background-color: aqua;
}

label {
  text-align: start;
}
